@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f5;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents unwanted scrolling on the whole page */
}
